/* IMPOSTAZIONI GENERALI */
html {
    font-size: 62.5%;
}
body {
    font-family: 'Fira Sans', sans-serif;
}
a {
    text-decoration: none;
}

/* RESPONSIVE */
@media screen and (min-width:320px) {
    /* IMPOSTAZIONI GENERALI */
    html {
        font-size: 100%;
    }
    .fa-facebook-square, .fa-linkedin, .fa-comment-dots, .fa-instagram, .fa-map-marker-alt, .fa-user-circle, .fa-meh::first-letter, .fa-grin-stars::first-letter, .fa-laugh::first-letter {
        color: orangered;
    }
    .fa-meh, .fa-grin-stars, .fa-laugh, .fa-comment-dots, .fa-map-marker-alt, .fa-user-circle{
        background-color: white;
        font-size: 1.8em;
    }
    .btn{
        background: linear-gradient(90deg, rgb(117, 178, 238) 27%, rgba(25,37,82,1) 100%);
        display: inline-block;
        height: 15px;
        padding: 0.8em;
        color: white;
    }
    

   /* HEADER */
    header{
        display: flex;
        justify-content: space-between;
        background-color: white;
        position: sticky;
        top: 0;
        box-shadow: 0 8px 15px -6px rgb(233, 233, 233);
        padding: 1.2em;
        padding-bottom: 1.5em;
        z-index: 2;
    }
    nav li {
        list-style: none;
        display: inline-block;
        padding: 0.2em;
    }
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        transition: height 0.5s ease-out;
        width: 100%;
        height: 6vh;
        background-color: white;
        box-shadow: 0 8px 15px -6px #000;
        z-index: 1;
        text-align: center;
        height: 0;
        overflow: hidden;
    }
    .hamb {
        display: none;
    }
    .hamb:checked ~ nav ul {
        height: 6vh;
        width: 100%;
    }
    .menu {
        position: absolute;
        top: 40%;
        right: 5vw;
        z-index: 2;
    }
    /* MAIN | BANNER */
    #banner {
        background-image: url(../images/banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 2.5em 1em;
        color: rgb(255, 255, 255);
        height: 100%;
        text-shadow: 0px 0px 5px black;
       }
       h1 {
           font-size: 2.5em;
           line-height: 1.2em; 
       }
       .p-banner {
           padding-top: 2em;
           padding-bottom: 1em;
           font-size: 1.1em;
           line-height: 1.45em;
       }
    /* MAIN | ARTICLE */
    .testo-iniziale, h2 {
        text-align: center;
        font-size: 1.3em;
        padding: 1.1em;
    }
        .testo-iniziale p {
            font-size: 0.8em;
            line-height: 1.5em;
            padding: 0 0.2em;
        }
    .container-flex {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
        .box-cnt {
            padding: 1.2em;
        }
        .box-cnt h3 {
            font-size: 1.8em;
            padding-bottom: .7em;
        }
        .box-cnt p {
            font-size: 0.9em;
            line-height: 1.6em;
        }
    /* MAIN | ASIDE */
    
    .titolo {
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 2em;
        padding-top: 0.5em;
        padding-bottom: 3em;
    }
        .titolo i {
            padding-bottom: .5em;
        }
    .img {
        display: inline-block;
        width: 90%; 
        padding: 1em;
    }
    /* MAIN | ARTICLLE */
    .sfondo-blu {
        background-color: rgb(2, 2, 54);
        color: white;
        padding-top: 2.5em;
        padding-bottom: 4em;
        text-align: center;
    }
        .sfondo-blu h2 {
            font-size: 1.5em;
            line-height: 1.2em;
        }
        .sfondo-blu p {
            font-size: .8em;
            line-height: 1.5em;
            padding-bottom: 1.5em;
        }
 /* FOOTER */
    footer {
        background-color: rgba(207, 205, 205, 0.2);
        padding: 1.5em;
    }
        .container-flex-fr {
            display:flex;
            flex-direction: column;
        }
        .info, .info h3 {
            margin-bottom: 1em;
            margin-top: 0.7em;
            font-size: 1.1em;
        }
        .info p {
            font-size: .9em;
            padding-right: 0.5em;
            line-height: 1.5em;
        } 
        .info input[type=text] {
            height: 35px ;
        }
        .info .btn {
            display: block;
            text-align: center;
            width: 150px;
        }
        .info .social li {
            list-style: none;
            font-size: 1.5em;
            display: inline-block;
        }
        .testo-fr {
            font-size: .9em;
            line-height: 1.5em;
        }
   
}
@media screen and (min-width: 768px){
    /* HEADER | NAV-BAR */
    .hamb {
        display: none;
    }
    .hamb:checked ~ nav ul {
       display: block;
    }
    .menu {
        display: none;
    }
    nav ul {
        position: static;
        width: 100%;
        height: 6vh;
        background-color: white;
        box-shadow: none;
        text-align: center;
        height: 100%;
    }
    /* BANNER */
    #banner {
        height: 100%;
        background-position:center;
        padding: 5em 10em;
    }
    /* MAIN | ARTICLE */
    .testo-iniziale h2 {
        font-size: 1.9em;
    }
        .testo-iniziale p {
            line-height: 1.8em;
        }
    .container-flex {
        flex-direction: row;
        text-align: center;
    }
    /* MAIN | SECTION */
    .sfondo-blu h2 {
        font-size: 3em;
        padding-bottom: .5em;
    }
    .sfondo-blu p {
        font-size: 1.2em;
    }
    /* MAIN | ASIDE */
    aside {
        display: flex;
    }
        aside div:nth-child(2) {
            padding-top: 2em;
        }
        .titolo {
            text-align: left;
            padding-bottom: 1em;
        }
    /* FOOTER */
    footer {
        padding: 2.5em;
    }
        .container-flex-fr {
            display: flex;
            flex-direction: row;
        }
        .testo-fr {
            text-align: center;
        }
        .testo-fr a {
            color: black;
        }
}
@media screen and (min-width: 1200px) {
    /* IMPOSTAZIONI GENERALI */
    .btn {
        height: 30px;
        padding: .6em;
    }
    /* HEADER */
    header {
        justify-content: space-around;
        font-size: 1.5em;
    }
    /* BANNER */
    #banner {
        font-size: 2em;
        padding-left: 15em;
        padding-bottom: 2.5em;
    }
        #banner p {
            font-size: 0.8em;
        }
        
    /* MAIN | ARTICLE */
    .testo-iniziale {
        font-size: 2em;
    }
    .container-flex {
        padding: 0 11em;
    }
        .box-cnt {
            margin-bottom: 4em;
            font-size: 1.5em;
        }
            .box-cnt p {
                text-align: left;
            }
    /* SECTION | SFONDO BLU */
    .sfondo-blu {
        font-size: 1.5em;
    }
    /* MAIN | ASIDE */
        aside {
            margin-left: 30vw;
        }   
            .titolo:nth-child(1){
              padding-bottom: 0;
              margin-bottom: 0;
            }
            .titolo {
                padding-top: 0em;
                padding-bottom: .5em;
                font-size: 1.5em;
            }
    /* FOOTER */
    .container-flex-fr {
        margin: 0 10em;
        font-size: 1.8em;
    }
    .info {
        margin: 2em;
        font-size: 1em;
    }
    .info input[type=text] {
        width: 15vw;
        height: 3.5vh;
    }
    .info .btn {
        width: 13.3vw;
    }
    .testo-fr {
        font-size: 1.5em;
    }
}

/* HEADER */

/* MAIN */

/* FOOTER */

/* ANIMAZIONE */
@media screen and (min-width:768px) {
    
    .btn-animation {
        animation-name: animazione;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
        padding:.5em;
        letter-spacing: 0;
        box-shadow: 0 0 1 rgba(0, 0, 0, 0);                
    }
    @keyframes animazione {
        100% { box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 1);
        }
}
}
