#utenti,
#container {
    margin: 1em;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    width: 90%px;
}

#container {
    border: 1px dotted black;
    margin-left: 15%;
}

#utenti td,
th {
    border: 1px solid #a1a1a1;
    padding: .5em;

}

.cancellaUtente, .mostraBtn {
    transition: transform .1s;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
}

.cancellaUtente:active, .mostraBtn:active {
    transform: scale(.8, .8);
}

.text-center {
    position: relative;
    top: 1.05em;
    font-size: 50px;
}
