$sfondo-hover:rgba(161, 161, 161, 0.8);
$sfondo-bottoni: rgba(85, 84, 84, 0.6);
$bordo-hover: 12.5px;
$main-margin: 5em 6em;
$contenuti-margin: 1em 1em;
$main-padding: .5em;
$contenuti-padding: .15em;
$colore-hover: white;
$colore-bottone: rgb(147, 170, 212);
$grandezza-font-titolo: 2.2em;
$colore-titolo: rgb(39, 24, 24);
$ombreggiatura-titolo: 0px 0px 12px rgb(207, 43, 172);
$grandezza-font-a: 1.5em;
$grandezza-font-para: 1.7em;
$colore-para: #000000;
$ombreggiatura-para: 0px 0px 4px black;
